@import 'tailwindcss';

@theme {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif;

  --color-gray-25: #fdfdfd;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #181d27;
  --color-gray-950: #0a0d12;

  --color-blue-25: #f5f8ff;
  --color-blue-50: #eff4ff;
  --color-blue-100: #d1e0ff;
  --color-blue-200: #b2ccff;
  --color-blue-300: #84adff;
  --color-blue-400: #528bff;
  --color-blue-500: #2970ff;
  --color-blue-600: #155eef;
  --color-blue-700: #004eeb;
  --color-blue-800: #0040c1;
  --color-blue-900: #00359e;
  --color-blue-950: #002266;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;

  --text-display-2xl: 4.5rem;
  --text-display-2xl--line-height: 5.625rem;
  --text-display-2xl--letter-spacing: -0.02em;

  --text-display-xl: 3.75rem;
  --text-display-xl--line-height: 4.5rem;
  --text-display-xl--letter-spacing: -0.02em;

  --text-display-lg: 3rem;
  --text-display-lg--line-height: 3.75rem;
  --text-display-lg--letter-spacing: -0.02em;

  --text-display-md: 2.25rem;
  --text-display-md--line-height: 2.75rem;
  --text-display-md--letter-spacing: -0.02em;

  --text-display-sm: 1.875rem;
  --text-display-sm--line-height: 2.375rem;
  --text-display-sm--letter-spacing: -0.02em;

  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2rem;
  --text-display-xs--letter-spacing: -0.02em;

  --text-text-xl: 1.25rem;
  --text-text-xl--line-height: 1.875rem;

  --text-text-lg: 1.125rem;
  --text-text-lg--line-height: 1.75rem;

  --text-text-md: 1rem;
  --text-text-md--line-height: 1.5rem;

  --text-text-sm: 0.875rem;
  --text-text-sm--line-height: 1.25rem;

  --text-text-xs: 0.75rem;
  --text-text-xs--line-height: 1.125rem;

  --text-text-2xs: 0.625rem;
  --text-text-2xs--line-height: 0.875rem;
}
